{% extends "home/base.html" %}

{% load i18n %}
{% load markup_tags %}

{% block title %} {% trans "Portfolio" %} {% endblock title %}
{% block nav_about_class %} #  {% endblock nav_about_class %}
{% block nav_portfolio_class %}  active  {% endblock nav_portfolio_class %}
{% block mobile_nav_about_class %}  #  {% endblock mobile_nav_about_class %}
{% block mobile_nav_portfolio_class %}  active  {% endblock mobile_nav_portfolio_class %}

{% block searchbar %}
    {% csrf_token %}
    <form class="" id="searchform" action="{% url 'project-list' %}" method="get" accept-charset="utf-8"> 
        <div class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input class="input-field" id="searchbox" name="q" type="text" value="{% if request.GET.q %} {{ request.GET.q }} {% else %} Search {% endif %} ">
        </div>
    </form>
{% endblock searchbar %}


{% block content %}
  
    <div class="section no-pad-bot center" id="index-banner">
      
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                {% for project in all_projects %}
                <div class="col s12 m6 l3">
                    <div class="card z-depth-2">
                        <div class="card-image">
                            <img class="activator" src="/media/{{project.icon}}" width="150px" height="150px">
                            <a class="btn-floating halfway-fab waves-effect waves-light green" href="{% url 'project-detail' project.pk %}"><i class="material-icons">info</i></a>
                        </div>
                        <div class="card-content">
                            <br>
                            <span class="card-title activator grey-text text-darken-4">{{project.title}}<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{project.title}}<i class="material-icons right">close</i></span>
                            <p>{{ project.summary | apply_markup:"markdown"  }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if is_paginated %}
            <ul class="pagination">
                {% if all_projects.has_previous %}
                    <li><a href="?page={{ all_projects.previous_page_number }}"><li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li></a></li>
                {% else %}
                    <li class="disabled"><span><li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li></span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if all_projects.number == i %}
                        <li class="active"><a href="#!">{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_projects.has_next %}
                    <li class="waves-effect"><a href="?page={{ all_projects.next_page_number }}"><li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li></a></li>
                {% else %}
                    <li class="disabled"><span><li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li></span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}
