{% extends "home/base.html" %}

{% load i18n %}
{% load markup_tags %}

{% block title %} {% trans "Portfolio" %} {% endblock title %}
{% block nav_about_class %} #  {% endblock nav_about_class %}
{% block nav_portfolio_class %}  active  {% endblock nav_portfolio_class %}
{% block mobile_nav_about_class %}  #  {% endblock mobile_nav_about_class %}
{% block mobile_nav_portfolio_class %}  active  {% endblock mobile_nav_portfolio_class %}


{% block content %}
  
    <div class="section no-pad-bot center" id="index-banner">
      
    </div>

    <div class="container">
        <div class="section">
            <div class="col s12 m6 l3">
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Software Development<a href="{% url 'project-list'%}?q=software_development"><i class="material-icons right">send</i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Data Science<a href="{% url 'project-list'%}?q=data_science"><i class="material-icons right">send</i></a></span>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col s12 m6 l3">
                    <div class="card horizontal z-depth-2">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Security<a href="{% url 'project-list'%}?q=security"><i class="material-icons right">send</i></a></span>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col s12 m6 l3">
                    <div class="card horizontal z-depth-2">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Computer Network<a href="{% url 'project-list'%}?q=computer_network"><i class="material-icons right">send</i></a></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock content %}
