
{% extends "portfolio/project_list.html" %}

{% load markup_tags %} 

{% block index-banner %}
    <div class="section no-pad-bot center" id="index-banner">
        <div class="section no-pad-bot center" id="index-banner">
            <div class="chip ">
                <i class="material-icons">filter_list</i>
                {{ project.title}}
            </div>
        </div>
    </div>
{% endblock index-banner %}

{% block rigth-to-filter %}
            <div class=" section">
                <div class="row">
                    <div class="card col s12 m12 l12 right alegreya animated tada animation-delay-7 ">
                        <p><a class="btn btn-floating right waves-effect waves-light black" href="{% url 'project-list' %}" title="Go back to projects"><i class="material-icons">close</i></a></p>
                        <p><img class="left" src="/media/projects/{{project.icon}}" width="75px" height="75px"></p>
                        <h2 class="center-align">{{project.title}} </h2>
                        <div class="left-align card-content">{{ project.description | apply_markup:"markdown" }}</div>
                        <br>
                    </div> 
                </div>
            </div>
{% endblock rigth-to-filter %}
