# Requirements in dev env

# Core
django==1.11.2
djangorestframework==3.6.3
django-debug-toolbar==1.8


#Image uploading
Pillow

# Tests
selenium
coverage

# Translations
django-rosetta
django-modeltranslation


# AWS
awsebcli==3.10.2