<!DOCTYPE html>

<html lang="en">

{% load i18n %}

{% load staticfiles %}

<head>

  <meta name="Author" content="SOGLO Arcadius">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" href="{% static 'home/images/favicon.png' %}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %} sogloarcadius {% endblock title %}</title>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">   <link href="{% static 'home/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script type="text/javascript" src="{% static 'home/js/utils.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" media="screen,projection">

</head>


<body>
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li class="{% block nav_about_class %} # {% endblock nav_about_class %}"><a href="{% url 'home-index' %}" >{% trans "About" %}</a></li>
        <li class="{% block nav_portfolio_class %}  #  {% endblock nav_portfolio_class %}"><a href="{% url 'project-list' %}">{% trans "Portfolio" %} </a></li>
      </ul>
        <ul class="left hide-on-med-and-down">
        <li><a href="{% url 'set_french' %}" title="fr"><i><img src="{% static 'home/images/fr.png' %}"></i></a></li>
        <li><a href="{% url 'set_english' %}" title="en"><i><img src="{% static 'home/images/en.png' %}"></i></a></li>
        <li><a href="{% url 'set_spanish' %}" title="es"><i><img src="{% static 'home/images/es.png' %}"></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="{% block mobile_nav_about_class %}  #  {% endblock mobile_nav_about_class %}"><a href="{% url 'home-index' %}">{% trans "About" %}</a></li>
        <li class="{% block mobile_nav_portfolio_class %}  #  {% endblock mobile_nav_portfolio_class %}"><a href="{% url 'project-list' %}">{% trans "Portfolio" %} </a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    
  </nav>

  <main>
    {% block content %}
    
    {% endblock content %}
  </main>

  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <div class="chip">DevOps</div>
          <div class="chip">SDN & NFV</div>
          <div class="chip">Android</div>
          <div class="chip">Python</div>
        </div>
        <div class="col l3 s12">
         
          <!-- <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="white-text" href="#!">home</a></li>
            <li><a class="white-text" href="#!">Portfolio</a></li>
            <li><a class="white-text" href="#!">Blog</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">{% trans "Connect" %}</h5>
          <ul>
            <li>
              <a href="#" title="Facebook"><i><img src="{% static 'home/images/facebook.svg' %}"></i></a>&nbsp;
              <a href="#" title="Google Plus"><i><img src="{% static 'home/images/googleplus.svg' %}"></i></a>&nbsp;
              <a href="#" title="Linkedin"><i><img src="{% static 'home/images/linkedin.svg' %}"></i></a>&nbsp;
              <a href="#" title="Github"><i><img src="{% static 'home/images/github.svg' %}"></i></a>&nbsp;
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; <a class="orange-text text-lighten-3" href="mailto:rtsoglo@gmail.com">sogloarcadius</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'home/js/materialize.js' %}" ></script>
  <script src="{% static 'home/js/init.js' %}"></script>

  </body>
</html>
