{% extends "home/base.html" %}

{% load staticfiles %}

{% load i18n %}
{% load markup_tags %}

{% block title %} {% trans "About" %} {% endblock title %}
{% block nav_about_class %} active {% endblock nav_about_class %}
{% block nav_portfolio_class %}  #  {% endblock nav_portfolio_class %}
{% block mobile_nav_about_class %}  active {% endblock mobile_nav_about_class %}
{% block mobile_nav_portfolio_class %}  #  {% endblock mobile_nav_portfolio_class %}


{% block content %}
  

<div class="left section no-pad-bot" id="index-banner">
</div>


<div class="container">
  <div class="section">
    <div class="card z-depth-2 custom_card">
      <div class="card-image">
        <img class="activator center" src="{% static 'home/images/me.jpg' %}">
      </div>
    </div>
  </div>

    <div class="section grey">
      <div class="card-panel white">
        <span class="black-text"> {{ personal_info.summary | apply_markup:"markdown" }} </span>
      </div>
      
    </div>

    <div class="section">
        <div class="chip">
            <img src="{% static 'home/images/linkedin.svg' %}" alt="Linkedin">
            <a target="_blank"  href="https://www.linkedin.com/in/arcadius-soglo-275bb180/">{% trans "View profile" %} </a>
        </div>
    </div>

</div>



{% comment %}
  
<div class="container">
    <div class="section">
      <div class="col s12 m12 l12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{% static 'home/images/me.jpg' %}" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s10">
              <span class="black-text">
                     {{ personal_info.summary | apply_markup:"markdown" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m12 l12">
        <div class="video-container">
          <iframe width="853" height="480" src="{{personal_info.intro_url}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>

{% endcomment %}


{% endblock content %}
