{
  "option_settings": [
    {
      "option_name": "AWS_STORAGE_BUCKET_NAME",
      "value": "soglomania-django-website-storage"
    },
    {
      "option_name": "AWS_ACCESS_KEY_ID",
      "value": "AKIAIY24M6H4MCSLARVQ"
    },
    {
      "option_name": "AWS_SECRET_ACCESS_KEY",
      "value": "Aq81ItDyxdBk/dDy91031LBbkQerbjaEUQhVqfh/"
    }
  ]
}