
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.section {
     color: black
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

nav ul li:hover {
   background-color: none;
}


body {
     
     display: flex;
     min-height: 100vh;
     flex-direction: column;
}

main {
     flex: 1 0 auto;
     font-size: 18px;
}

.uppercase {
    text-transform: uppercase;
}

.satisfy {
    font-family: 'Satisfy', cursive;
}

.great-vibes {
    font-family: 'Great Vibes', cursive;

}

.alegreya {
    font-family: 'Alegreya Sans', sans-serif;
}

.profile_pic {
    width: 150px;
    height: 150px;
}

.nav-mobile-li
{
  background-color: lightgrey;
  border-left: orange solid;
  border-width: 3px;
}

.nav-mobile-pic {
  height: 60px;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
}

.logo 
{
  height: 65px;
  vertical-align: top;
}

.nav-language-selection 
{
  height: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

.dropdown-content 
{
  background-color: lightgrey;
  border-left: orange solid;
  border-width: 3px;
  padding: 0 !important;
}

.dropdown-content.row 
{
  overflow: visible;
  width : 60%;
  height: auto;
}


.vertical-tabs 
{
  background-color: lightgrey;
  border-left: orange solid;
  border-width: 2px;
  padding: 0 !important;
}
.vertical-tabs li a 
{
  color: orange !important;
}

@media (max-width: 720px) 
{
  .logo
  {
    height: 55px;
    vertical-align: middle;
    margin-top: -3px;
  }
}

