{% extends 'home/base.html' %}


{% load staticfiles %}

{% load i18n %}

{% block title %} {% trans "Blog" %}  {% endblock title %}
{% block nav_about_class %} # {% endblock nav_about_class %}
{% block nav_portfolio_class %}  #  {% endblock nav_portfolio_class %}
{% block mobile_nav_about_class %}  # {% endblock mobile_nav_about_class %}
{% block mobile_nav_portfolio_class %}  #  {% endblock mobile_nav_portfolio_class %}
{% block nav_blog_class %}  active  {% endblock nav_blog_class %}
{% block mobile_nav_blog_class %}  active  {% endblock mobile_nav_blog_class %}



{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
<h1><a href="{% url 'blog-post-detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}