# Core

django==1.11.2

# Model translations

django-rosetta
django-modeltranslation

# Image uploading

Pillow

# AWS Cloud storages

django-storages
boto

# API

djangorestframework==3.6.3
django-rest-swagger==2.1.2


# Debug
django-debug-toolbar==1.8


#Tests

selenium
coverage